<!DOCTYPE html>
<html>
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<body>



        <a href="/hammer/createItem">Magic Item Generator</a><br>
        <a href="/hammer/createMutation">Mutation Generator</a><br>




    
    <a href="/chapters/chapters/">Space Marine Chapter Generator</a>




</body>
</html>
